@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #65647C;
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100vh;
}


#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.display {
  background-color: #8B7E74;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  width: 400px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
}

.drum-pad {
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  background-color: #C7BCA1;
  border: 7px solid #F1D3B3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 50px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.drum-pad.active {
  opacity: 0.8;
  transform: scale(0.98);
}

.display h1 {
  display: block;
  width: 100%;
  text-align: center;
}